body{

}
.login-button{
    float:right;
}

.timeline-main-panel {
    height: 550px;
    overflow-y: scroll;
}

#coltime{

  font-size: 0.9em;
  vertical-align: middle;
  color: red;
  width: 40px; !important
}

#lab1{
  color: #3a822c;
}

#lab2{
  color: #2c6b82;
}
#lab3{
  color: #9850be;
}
#lab4{
  color: #222fc7;
}
#lab5{
  color: #c6cc14;
}
#lab6{
  color: #bf2222;
}
#lab7{
  color: #a77d14;
}
#lab8{
  color: #14cc6a;
}
#lab9{
  color: #7914cc;
}
#lab10{
  color: #5014cc;
}

#courmenu{
  padding-left: 0px;
  padding-right: 5px;
}

#noborderup {
     border-top: none !important;
 }

 .noborderup{
      border-top: none !important;
  }

  #headers {
    font-weight: bold;
  }
  #blue-color{
      color: #2c6b82;
  }

#heds{
  font-size: 1.1em;
}

.myform-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 2px 6px;
  font-size: 14px;
  line-height: 80%;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,
  -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
