.login-button{
    float:right;
}

.timeline-main-panel {
    height: 550px;
    overflow-y: scroll;
}

#coltime{

  font-size: 0.9em;
  vertical-align: middle;
  color: red;
  width: 40px; !important
}

#lab1{
  color: #3a822c;
}

#lab2{
  color: #2c6b82;
}
#lab3{
  color: #9850be;
}
#lab4{
  color: #222fc7;
}
#lab5{
  color: #c6cc14;
}
#lab6{
  color: #bf2222;
}
#lab7{
  color: #a77d14;
}
#lab8{
  color: #14cc6a;
}
#lab9{
  color: #7914cc;
}
#lab10{
  color: #5014cc;
}

#courmenu{
  padding-left: 0px;
  padding-right: 5px;
}

#noborderup {
     border-top: none !important;
 }

 .noborderup{
      border-top: none !important;
  }

  #headers {
    font-weight: bold;
  }
  #blue-color{
      color: #2c6b82;
  }


  #bodyDiv {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

#scrollbox3 {
    overflow: auto;
    width: 400px;
    height: 800px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}
